<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dealer</title>
    <link rel="stylesheet" href="Assets/css/main.css">
    <link rel="shortcut icon" href="./Assets/images/bmw-logo.png" type="image/x-icon">
</head>

<body>
    <header class="primary-header">
        <nav id="menu">
            <div class="icons-logo">
                <img src="Assets/images/dealer-black-logo.png" alt="Logo Dealer">
                <img src="Assets/images/line-black.png" class="line">
                <img src="Assets/images/bmw-logo.png" alt="Logo BMW">
            </div>
            <div class="contact">
                <button class="button-contact button-call"><img src="Assets/images/phone-icon.png" alt="Ligar"><a
                        href="tel:21999999999"><span>LIGUE AGORA</span></a></button>
                <button class="button-contact button-whatsapp" id="whatsapp"><img src="Assets/images/whatsapp-icon.png"
                        alt="Iniciar uma conversa pelo whatsapp"><a
                        href="https://api.whatsapp.com/send?phone=551199999999"
                        target="_blank"><span>WHATSAPP</span></a></button>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div class="info-page">
                <div class="previous-page">
                    <span>Ofertas → <a href="#">Novo Série 1</a></span>
                    <a href="#">Voltar para página anterior</a>
                </div>
                <div class="title-page-car">
                    <h1>BMW Série 4 Cabrio</h1>
                </div>
            </div>
        </section>

        <section>
            <div class="car-info-section">
                <div class="car-info-text">
                    <p>Descubra o BMW Série 4 Cabrio <br>
                        Cliente On-line tem Condições Especiais e aqui na Dealer BMW!</p>
                    <p class="car-price">A partir de <span class="price-car-color">R$ 179.950</span></p>
                </div>

                <div class="car-info-content">
                    <img class="car-img-background" src="Assets/images/car-model.png" alt="BMW Série 4 Cabrio">
                    <div class="car-info-highlights">
                        <h1>Destaques</h1>
                        <div class="highlights-itens">
                            <div class="item">
                                <img src="Assets/images/gas-pump-icon.png" alt="14,7 km/l Consumo">
                                <p class="item-text-highlights">Consumo <span>14,7 km/l</span></p>
                            </div>
                            <div class="item">
                                <img src="Assets/images/fuel-icon.png" alt="999 cm3 Cilindrada">
                                <p class="item-text-highlights">Cilindrada <span>999 cm3</span></p>
                            </div>
                            <div class="item">
                                <img src="Assets/images/power-icon.png" alt="75 cv Potência">
                                <p class="item-text-highlights">Potência <span>75 cv</span></p>
                            </div>
                            <div class="item">
                                <img src="Assets/images/velocity-icon.png" alt="154 km/h Velocidade Máx.">
                                <p class="item-text-highlights">Velocidade Máx.<span>154 km/h</span></p>
                            </div>
                        </div>
                        <button class="button-contact button-call">TENHO INTERESSE</button>
                    </div>
                </div>

            </div>
        </section>
        <section>
            <div class="description">
                <h1>A vida é melhor<br>
                    quando compartilhada.<br>
                    BMW Série 4 Cabrio</h1>
                <p>
                    A performance irradia de cada ângulo do design inovador do BMW Série 4 Cabrio.
                    Começando pela dianteira, que conta com para-choque clássico dos modelos BMW.
                    Ao correr os olhos pelo design, nota-se imediatamente o teto inclinado e a linha do ombro marcante,
                    que
                    equilibra o centro de gravidade do carro.
                    Voltando-se para as laterais, são os robustos arcos de 10 mm e as incomuns rodas de 21 polegadas que
                    chamam a
                    atenção.
                    Ao chegar na traseira do BMW Série 4 Cabrio, a força do design continua surpreendendo.
                    O para-choque com difusão clássica dos modelos BMW, as lâminas horizontais e teto com spoiler ganham
                    um toque
                    a mais de amplitude devido ao vidro traseiro levemente rebaixado.
                </p>
            </div>
            <div class="description-video">
                <h1>Conheça o BMW Série 4 Cabrio</h1>
                <div class="container-video">
                    <iframe src="https://www.youtube-nocookie.com/embed/cFyrTEYyq64?controls=0"
                        frameborder="0"></iframe>
                </div>
            </div>
        </section>

        <section>
            <div class="legal-description">
                <p>
                    <span class="strong">Texto Legal:</span>
                    Virtus 1.0, 4 portas (cód. BZ23B3), ano/modelo 18/18 à vista a partir de R$ 73490 ou financiado com
                    entrada de
                    R$ 44094 (60%) e mais 24 prestações mensais de R$ 1286.
                    Taxa de juros: 0% a.m. e 0% a.a. Total da operação: R$ 74958. CET máximo para esta operação: 04,75%%
                    a.a.
                    Condições válidas para financiamento pelo Banco Volkswagen.
                    Oferta válida exclusivamente para a cidade de Natal / RN, no período de 30/09/2018 a 31/10/2018 para
                    veículos
                    com pintura sólida.
                </p>
            </div>
        </section>
    </main>
    <footer>
        <section class="container">
            <a href="#menu"><img src="Assets/images/arrow-top-icon.png" alt="Voltar ao ínicio"></a>
            <div class="nav-links">
                <img src="Assets/images/dealer-white-logo.png">
                <div class="social-media-itens">
                    <span>SIGA-NOS:</span>
                    <a href="https://www.instagram.com/autoforcebr/" target="_blank">
                        <img src="Assets/images/instagram-icon.png">
                    </a>
                    <a href="https://www.linkedin.com/company/autoforcebrasil/?originalSubdomain=br" target="_blank">
                        <img src="Assets/images/linkedin-icon.png">
                    </a>
                    <a href="https://www.youtube.com/channel/UCLI4tg1oh_oLiJJteExJdUQ/featured" target="_blank">
                        <img src="Assets/images/youtube-icon.png">
                    </a>
                </div>
            </div>

            <div class="footer-description">
                <p><span>Razão Social:</span>AUTO FORCE PLATAFORMA DE MARKETING DIGITAL LTDA</p>
                <p><span>CNPJ:</span>22.588.947/0001-06</p>
                <p><span>Endereço Matriz:</span>Av. Prudente de Morais, 3966, Lagoa Nova. Natal/RN – CEP 59056-200
                    <span><a href="https://maps.app.goo.gl/quW3JvPGchue2gD3A" target="_blank">Ver mapa<img
                                class="icone-mapa" src="Assets/images/link-icon.png" alt="Ver Mapa"></a></span>
                </p>
            </div>

            <div class="footer-copyright">
                <img src="assets/images/autoforce-white-logo.png" alt="AutoForce">
                <div class="copyright">
                    <p>© Copyright 2021 - AutoForce - Todos os direitos reservados</p>
                    <p>Confira a nossa <a
                            href="https://materiais.autoforce.com/politica-de-privacidade-autoforce">Politica de
                            privacidade.</a></p>
                </div>
            </div>
        </section>
    </footer>

</html>